@charset 'utf-8';
@import url(reset.css);

/* ----------------------------------------------------- All browsers */

img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -82px 0 0 -223px;
	display: none;
}

p {
	color: #9A9A9A;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size: 10px;
	position: absolute;
	top: 50%;
	margin: 70px 0 0 0;
	text-align: center;
	width: 100%;
	display: none;
}

a {
	color: #9A9A9A;
	text-decoration: none;
}

/* ----------------------------------------------------- JS enabled browsers */

.js div { }

/* ----------------------------------------------------- IE7 and below */

.ie7 div { }

/* ----------------------------------------------------- IE6 and below */

.ie6 div { }
